/* @import reset.css */

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

td{
	font-size: 20px;
	min-width: 37px;
	height: 35px;
	text-align: center;
}
th{
	font-size: 16px;
	background-color: green;
}

.user1{
	background: url(D:/PHPacademy/Projects/schedule/img/boldman_39x38.png);
	
}

.user2{
	background: url(D:/PHPacademy/Projects/schedule/img/nurdman_39x39.png);
	
}
.user3{
	background: url(D:/PHPacademy/Projects/schedule/img/coolman.png);
	
}
.current{
	border: 4px solid blue;
}
