/* @import reset.css */
body{
	align-content: center;
}
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

td{
	font-size: 10px;
	min-width: 14px;
	height: 15px;
	text-align: center;
}
th{
	font-size: 10px;
	background-color: green;
}

.user1{
	background: url(D:/PHPacademy/dz/Projects/img/boldman.png);
	/* background-color: green; */
}
/* .user1::after{
	content: "v";
} */
.user2{
	background: url(D:/PHPacademy/dz/Projects/img/nurdman.png);
	/* background-color: orange; */

}
.user3{
	background: url(D:/PHPacademy/dz/Projects/img/youngman.png);
	/* background-color: lightblue; */
	
}
.current{
	border: 2px solid red;
}
p{
	
}